<div class="chat-interface-container bg-white">
  <app-left-sidebar
    [selectedUser]="selectedUser()"
    [selectedGroup]="selectedGroup()"
    [conversations]="conversations()"
    [allUsers]="allUsers()"
    [onlineUsers]="onlineUsers()"
    [messages]="messages()"
    [socket]="socket()"
    (onUserSelect)="onUserSelect($event)"
    (onGroupSelect)="onGroupSelect($event)"
    (onConversationsChange)="onConversationsChange($event)"
    (onAllUsersChange)="onAllUsersChange($event)"
    (onGroupsChange)="onGroupsChange($event)"
  ></app-left-sidebar>
  
  <div class="chat-area-container">
    <app-chat-area
      [selectedUser]="selectedUser()"
      [selectedGroup]="selectedGroup()"
      [messages]="messages()"
      [onlineUsers]="onlineUsers()"
      [conversations]="conversations()"
      [allUsers]="allUsers()"
      [socket]="socket()"
      (onMessagesChange)="onMessagesChange($event)"
      (onOnlineUsersChange)="onOnlineUsersChange($event)"
      (onConversationsChange)="onConversationsChange($event)"
      (onSocketChange)="onSocketChange($event)"
      (onGroupMessageReceived)="onGroupMessageReceived($event)"
      (onGroupCreated)="onGroupCreated($event)"
    ></app-chat-area>
  </div>
</div>
